*{
    margin: 0;
    padding: 0;

}

.main{
    width: 100%;
    background-position: center;
    background-size: cover;
    height:auto 
}

.navbar{
    width: 85%;
    height: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.icon{
    width: 200px;
    float: left;
    height: 70px;
    }

.logo{
    color: #ff7200;
    font-size: 35px;
    font-family: Arial;
    padding-left: 20px;
    float: left;
    padding-top: 10px;
  
}

.menu{
    width: 400px;
    float: left;
    height: 70px;
}

ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;
}

ul li a{
    text-decoration: none;
    color: red;
    font-family: arial;
    font-weight: bold;


}

